# this file is based on the examples provided in scikit-bio's .coveragerc

[run]
omit =
    */tests*
    */__init__.py
    *IDgenerator.py*
    *test_IDgenerator.py*
source = bcgenerator
branch = True
include = */bcgenerator/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
